// .home {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 80vh;
//   text-align: center;

//   h1 { font-size: 3rem; margin-bottom: 10px; }
//   p { font-size: 1.2rem; color: #6c757d; margin-bottom: 20px; }
//   .btn {
//     background-color: #007bff; color: white; padding: 12px 25px; border-radius: 8px;
//     text-decoration: none; font-weight: 500;
//     transition: background 0.3s ease;
//   }
//   .btn:hover { background-color: #9cc9f9; }
// }

// @media (max-width: 768px) {
//   .home h1 { font-size: 2.2rem; }
//   .home p { font-size: 1rem; }
// }

.home {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: #111827;
  }

  p {
    margin: 15px 0 30px;
    font-size: 1.2rem;
    color: #6b7280;
    max-width: 600px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .home h1 {
    font-size: 2.2rem;
  }

  .home p {
    font-size: 1rem;
  }
}
