/* You can add global styles to this file, and also import other style files */
// body {
//   font-family: 'Poppins', sans-serif;
//   margin: 0;
//   padding: 0;
//   background-color: #78a5d8;
//   color: #333;
// }

/* ===== Global Reset ===== */

:root {
  --primary: #2563eb;
  --dark: #0f172a;
  --muted: #64748b;
  --bg-light: #f8fafc;
  --card-bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #accff3;
  color: #333;
  line-height: 1.6;
}

/* Common section spacing */
.section {
  padding: 90px 20px;
  max-width: 1100px;
  margin: auto;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--dark);
}


h1, h2, h3 {
  font-weight: 600;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: #1f2937;
}

/* Buttons */
.btn {
  display: inline-block;
  background-color: #2563eb;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #1e40af;
  transform: translateY(-2px);
}
